@font-face {
  font-family: 'mazda_regular';
  src: url('~assets/styles/fonts/MazdaType-Regular.ttf') format('truetype'),
  url('~assets/styles/fonts/MazdaType-Regular.woff'),
  url('~assets/styles/fonts/MazdaType-Regular.woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
