.catalogoContainer{
  padding: 0;
}
.filterContainer{
  background-image: linear-gradient(225deg, $first_filter_color 0%, $second_degrade_color 50%, $third_degrade_color 70%);
  min-height: 100vh;
  width: 100%;
  padding: 50px 36px;
}
@media(min-width: 768px){
  .filterContainer{
    padding: 50px 18px;
  }
}
