$first_degrade_color: #303030; //filter background
$second_degrade_color: #1f1f1f; //select color
$third_degrade_color: #121212;
$text_color: #cfcfcf; // text color
$button_color: #242424; // button color
$first_filter_color: #363636;

$primary-font: 'mazda_regular', sans-serif;
